/* Global Styles */
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Typography */
body{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}
h1, h2, h3{
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    padding-top: 30px;
}

a{
    color: grey;
    display: block;
}
h2{
    text-align: center;
}

.cards img{
    width: 50vw;
}

/* Header */
.nav-items{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
nav ul{
  list-style-type: none;
  margin: 0;
  flex-direction: column;
  display: none;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
nav ul li{
  padding: 0 10vw;
  margin-left: 0px;
}
nav a{
    color: black;
}
.show-items{
  display: flex;
}

nav.toggle{
  align-self: flex-end;
  position:absolute;
  cursor: pointer;
  top: 32px;
}
.logoimg{
    width: 40vw;
    margin-right: -100px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #cfe1b9;
}
header{
    margin-bottom: -50px;
}
/* Hero Section */
.hero{
    background-image: url(images/manel-sean-Rl_K7Z-N5ZQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 0;
    margin: 0;
    
}
.hero h1{
    color: white;
    font-size: 6rem; 
    padding-top: 40px;
    text-align: center;
    font-weight: 800;
}
.hero a{
    color: #f9e784;
    text-align: center;
    font-size: 2rem;
    margin-top: -50px;
}
/* Portfolio Section */
.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
/* Table section */

.table-container{
display: flex;
justify-content: center;
flex-grow: 1;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    width: 60%;
}
td, th{
    padding: 10px;
    border: 1px solid #ddd;
}
th{
    background-color: #cfe1b9;
}

/* Call to action */
.calltoaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    background-color: #87986a;
    padding: 30px;
    margin-bottom: -50px;
}
.calltoaction h2{
    font-weight: 400;
    padding: 10px;
    font-size: 4rem;
}
.calltoaction p{
    margin-top: -20px;
}
.calltoaction a{
    margin: 10px 50px;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.calltoaction .button{
    background-color: #f9e784;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}
.button:hover{
    background-color: white;
}
/* Footer Section */
    .headerfooter{
        text-align: center;
        background-color:#344e41;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .headerfooter a{
        margin-top: 0px;
        margin-bottom: 15px;
        color: white;
    }
.footer2{
    color: grey;
    font-size: 1.3rem;
}
/* ------------------MARKETS PAGE------------------ */
.market-hero{
    background-image: url(images/manel-sean-Rl_K7Z-N5ZQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 0;
    margin: 0;
    margin-top: -50px;
}
.market-hero h1{
    color: white;
    font-size: 6rem; 
    padding-top: 80px;
    text-align: center;
    font-weight: 800;
}

input[type="reset"]{
    color: black;
    background-color: #ced0cc;
    padding: 12px 20px;
    border:none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}
input[type="reset"]:hover{
    font-weight: bold;
}

input[type="submit"]{
    background-color: #f9e784;
    color: black;
    padding: 12px 20px;
    border:none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    font-weight: bold;
}
.wrapper-form{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.wrapper-button{
    display: flex;
    justify-content: space-between;
}
iframe{
    max-width: 70vw;
    margin-top: 50px;
}
.form-map-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* -------About Page-------- */
iframe{
    width: 80vw;
    height: calc(80vw * 9 / 16);
/* calc(80vw * 9 / 16) from mdn web docs calc() */
}
.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_image img{
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: -50px;
}

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav .menu-label {
      display: none;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
    }
  
    nav ul li {
      padding-right: 8px;
    }
  
    nav .toggle {
      display: none;
    }
    nav ul li{
        text-decoration: underline;
    }
    .cards{
        flex-direction: row;
        gap:30px;
        justify-content: center;
    }
    .cards img{
        width: 30vw;
        padding-right: 20px;
        padding-left: 20px;
    }
    .upcoming-markets{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    .upcoming-markets h2{
        margin-left: 10vw;
    }
    .navfooter .nav-links{
        display: flex;
        justify-content: space-around;
        margin:20px 0px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav ul,
    .container {
      width: 1200px;
      margin: 0 auto;
    }
    .logoimg{
        margin-right: -200px;
    }
    nav ul li{
        text-decoration: underline;
    }
    .cards{
        flex-direction: row;
        gap:30px;
        justify-content: center;
    }
    .cards img{
        width: 30vw;
        padding-right: 20px;
        padding-left: 20px;
    }
    .navfooter .nav-links{
        display: flex;
        justify-content: space-around;
        margin:20px 0;
    }
    .form-map-wrapper{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-right: 20px;
    }
    .wrapper-form{
        padding: 20px
    }
    .about_image img{
        float: right;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        width: 30vw;
    }

  }
